.Body {
  font-weight: 400;
  font-size: 15px;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #3c3c3c;
  margin: 0px;
  padding: 0px;
}

.header {
  position: relative;
  width: 100%;
  height: 48px;
  padding-top: 25px;
  font-weight: 700;
  color: #3c3c3c;
  border-bottom: 1px solid #efefef;

  .mobile_view {
    display: none !important;
  }

  .logo_section {
    position: absolute;
    left: 30px;
    top: 24px;
    z-index: 5;
    width: 105px;
    justify-content: center;
    align-content: center;
    font-family: "Roboto Medium";
    font-size: 20px;
    color: coral;

    img {
      width: 100%;
    }
  }

  .page_title {
    position: absolute;
    left: 170px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    line-height: 20px;
    margin-top: 3px;
    color: #b1b1b1;
  }

  .main_menu {
    position: absolute;
    right: 30px;

    ul li {
      margin: 0px 15px;
      cursor: pointer;
      display: inline-block;
    }

    .login_menu {
      border-left: 1px solid #ddd;
      padding-left: 30px;
    }
  }
}

.filter_section {
  position: relative;
  height: 53px;
  display: flex;
  border-bottom: 1px solid #efefef;
  background-color: #ffffff;

  .filter_deco {
    width: 53px;
    line-height: 53px;
    font-size: 18px;
    align-content: center;
    justify-content: center;
    border-right: 1px solid #efefef;
    text-align: center;
  }

  .filter_item {
    width: 110px;
    line-height: 53px;
    font-size: 15px;
    border-right: 1px solid #efefef;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: relative;

    .down-icon {
      margin-left: 7px;
      margin-top: -2px;
      line-height: 53px;
      text-align: center;
      align-content: center;
      justify-content: center;
    }

    &:hover {
      .select_box {
        display: flex;
        z-index: 1;
      }
    }

    .select_box {
      position: absolute;
      top: 52px;
      left: -1px;
      background-color: #fff;
      width: 110px;
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      font-weight: 600;
      display: none;
      flex-wrap: wrap;

      li {
        width: 110px;
      }
    }

    .region_select_box {
      width: 330px;
    }
  }
}

.recruit_items_section {
  background-color: #fff0e9cc;
  text-align: center;
  padding: 15px 0px 50px;

  .recruit_item {
    position: relative;
    width: 410px;
    height: 378px;
    vertical-align: top;
    margin: 20px 15px;
    background-color: #ffffff;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 0px 30px #eee;

    &:hover > .rc_img {
      background-size: 110%;

      .more_bt {
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .rc_img {
      background-image: url("../images/pink_salt.jpg");
      height: 120px;
      position: relative;
      transition-duration: 0.2s;
      background-position: center center;
      background-size: 100%;
      cursor: pointer;

      .more_bt {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        margin-top: -17px;
        margin-left: -68px;
        width: 136px;
        height: 35px;
        font-weight: 700;
        text-align: center;
        line-height: 35px;
        display: inline-block;
        background: #ffffff;
        border-radius: 20px;
        font-size: 13px;
        color: #565656;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition-duration: 0.2s;
      }
    }

    .rc_contents {
      padding: 25px 30px;

      .rc_title {
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .rc_subinfo {
        color: #979797;
        font-size: 14px;
      }
      .rc_subinfo {
        .icon {
          vertical-align: middle;
          margin-right: 4px;
        }
        .rc_writer {
          margin-right: 15px;
          max-width: 55%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .rc_comment {
          margin-right: 20px;
          margin-left: 10px;

          .icon {
            margin-top: -2px;
            margin-right: 4px;
          }
        }
      }

      .rc_job {
        margin-top: 15px;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
      }

      .rc_desc {
        font-size: 15px;
        line-height: 25px;
        margin-top: 5px;
        color: #707070;
      }

      .rc_bottom {
        position: absolute;
        width: 100%;
        height: 30px;
        left: 0px;
        bottom: 23px;

        .rc_time {
          position: absolute;
          top: 3px;
          left: 30px;
          font-weight: 550;
        }

        .rc_favorite {
          position: absolute;
          right: 22px;
          top: 6px;
          cursor: pointer;
          font-size: 30px;
          color: rgb(214, 91, 91);
        }
      }
    }
  }
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #3c3c3c;
  text-decoration: none;
}
